<body>
  <div class="parent">
    <div class="main">
      <input type="checkbox" id="chk" aria-hidden="true" />
      <div class="signup">
        <form>
          <label for="chk" aria-hidden="true">Sign up</label>
          <input
            name="firstName"
            [(ngModel)]="signUpObject.firstName"
            type="text"
            required=""
            placeholder="First Name"
          />
          <input
            name="lastName"
            [(ngModel)]="signUpObject.lastName"
            type="text"
            required=""
            placeholder="Last Name"
          />
          <input
            name="email"
            [(ngModel)]="signUpObject.email"
            type="email"
            required=""
            placeholder="Email"
          />
          <input
            name="password"
            [(ngModel)]="signUpObject.password"
            type="password"
            required=""
            placeholder="Password"
          />
          <button type="button" (click)="signUpClick()">Sign Up</button>
        </form>
      </div>

      <div class="login">
        <form>
          <label for="chk" aria-hidden="true">Login</label>
          <input
            name="userName"
            [(ngModel)]="loginObj.email"
            type="text"
            required=""
            placeholder="Email"
          />
          <input
            name="password"
            [(ngModel)]="loginObj.password"
            type="password"
            required=""
            placeholder="Password"
          />
          <button (click)="loginClick()">Login</button>
        </form>
      </div>
    </div>
  </div>
</body>
